@model IEnumerable<BlogJoaoPedroLeagueofLegends.ViewModel.PostsViewModel>
@{
    ViewData["Title"] = "Listar";
}
<section class="maiginEndBoot">
    <h2 class="text-center h2">Listar</h2>

    <div>
        <a href="/Posts/Novo" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-plus"> Novo</span></a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Sub Titulo</th>
                <th>Posts</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Titulo</td>
                    <td>@item.SubTitulo</td>
                    <td><a href="#">Link do Posts</a></td>
                    <td><a href="/Posts/Alterar/@item.PostId" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-edit"> Alterar</span></a>
                    <a href="/Posts/Excluir/@item.PostId" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-trash"> Excluir</span></a></td>
                </tr>
            }
        </tbody>
    </table>
</section>

