@model IEnumerable<BlogJoaoPedroLeagueofLegends.ViewModel.PostsViewModel>
@{
    ViewData["Title"] = "Cantato";
    int cont = 0;
}

<section>
    <div class="tabela">
        <div class="contatoText item">
            <img class="item" src="https://runes.lol/image/generated/championtiles/Yasuo.jpg" alt="Alternate Text" />
            <h2 class="item">Ola eu sou o João Pedro Rocha Brito</h2>
            <h3 class="item">O cara que criou isso aqui !!!!</h3>

            <div class="TextoSize">
                <p>
                    <br />
                    <h2>Informações do Criador</h2>
                </p>
                <p>
                    Nome: Joao Pedro Rocha Brito.<br />
                    Professor: Janderson Thomaz <br />
                    Faculdade: UNIRON <br />
                    Disiplina: Programação para Web
                </p>
                <h2>Trajetória</h2>
                <p>Bom o que eu aprendi no decorrer desse projeto, aprendi que CSS uma das funcionalidades mais importantes da web, mas não quer dizer que HTML e JavaScript não seja importante, mas eu digo que o design é tudo no site é o que vai chamar o usuário a usá-lo e se não tiver agradável suficiente ninguém vai utilizá-lo. Decorrendo desse período aprendi muitas coisas novas acho que nem todas eu aprendi de fato, mas visualizei a importância delas e como a tecnologia esta avançando, acho que tenho que aprender muita coisa ainda, e esse período me fez visualizar o tão grande a internet ou web se tornou. Tenho muito agradecer a todos os professores por esta sempre disposto a sanar perguntas e mostrar quê a tecnologia não para. Acho que estou bem no início de uma grande caminhada.</p>
                <h2>Qual era a finalidade</h2>
                <p>
                    Esse blog tem finalidade de avaliar o que foi ensinado em sala de aula
                    a bordando os seguites assuntos css, html, plugins, ASP .NET MVC CORE e Entity Framework Core.
                    para saber ser o que foi aprendido em sala teve eveito mesmo
                </p>
            </div>
        </div>
        <aside class="listaItemCon item tabela">
            <h2>Posts sugeridos:</h2>
            <ul>
                @foreach (var posts in Model)
                {
                    if (cont <= 2)
                    {
                        <li>
                            <aside class="item">
                                <h3>@posts.Categoria.descricao</h3>
                                <img src="@posts.ImgPost" alt="Resultado de imagem para imagem LeagueofLegends" />
                                <h2>@posts.Titulo</h2>
                                <div>
                                    <p>
                                        @posts.PreviaTexto
                                    </p>
                                </div>
                                <a href="/Posts/Post/@posts.PostId">Ler mais.</a>
                            </aside>
                        </li>
                    }
                    cont++;
                }
            </ul>
        </aside>
    </div>
</section>


