@{
    ViewData["Title"] = "Cantato";
}

<section>
    <div class="contatoText">
        <h2>Ola eu sou o Joao Pedro Rocha Brito</h2>
        <h3>O cara que criou isso aqui !!!!</h3>
        <p>
            Lorem ipsum aenean vitae dui nostra mauris est amet phasellus
            sagittis euismod iaculis, curae arcu orci est maecenas turpis
            ultricies dolor cursus condimentum sem vulputate, feugiat lobortis
            sociosqu turpis mi quisque etiam nullam tristique neque sem. auctor
            inceptos torquent faucibus suscipit euismod ut erat massa, eleifend
            quisque faucibus mi viverra integer convallis inceptos turpis,
            sagittis netus gravida curabitur imperdiet semper euismod. facilisis
            phasellus elementum malesuada rutrum faucibus tortor hac est ipsum,
            eu cras accumsan pretium felis nunc cursus fusce hac suscipit,
            inceptos rutrum nisi vel ultrices facilisis taciti convallis. nulla
            adipiscing venenatis fames pretium lacus in platea inceptos sagittis
            orci, pellentesque aptent odio dapibus viverra eros pellentesque
            massa. Facilisis himenaeos scelerisque diam habitant nisi nunc
            scelerisque himenaeos, phasellus luctus risus euismod congue
            bibendum etiam ipsum eget, habitant nostra enim class malesuada
            sodales non. a netus consequat etiam est placerat dui nisi aptent
            molestie, aenean quam amet luctus aenean varius bibendum vivamus
            phasellus, dapibus donec class risus diam nulla fusce eros.
            vulputate sagittis elit sapien convallis habitasse curabitur est,
            fermentum urna lectus congue sem vitae, vestibulum dictumst velit
            lacinia rhoncus commodo. lacinia vivamus aenean taciti quisque
            euismod neque pharetra fames eleifend blandit, donec commodo velit
            fusce ac lectus viverra tincidunt aptent nunc quam, posuere nisl
            morbi lectus netus pharetra eget duis aliquam. Cubilia vehicula
            pharetra lorem auctor habitant ut a aenean lectus, nibh tincidunt in
            turpis cursus euismod accumsan eros feugiat taciti, nisl tristique
            ornare bibendum nisl libero suscipit per. nisl elementum praesent
            urna suscipit mollis tempus molestie aenean commodo dictumst
            habitasse euismod rhoncus, cras tortor tempor dictumst class metus
            massa accumsan quisque nisi laoreet sollicitudin ut, commodo nec
            faucibus justo praesent dui tempus aliquet lobortis vitae placerat
            orci. diam odio senectus accumsan odio a curabitur eu platea,
            aliquam senectus duis velit ornare volutpat curabitur, vitae iaculis
            bibendum nullam taciti sollicitudin dui. Dictumst proin lectus quis
            per viverra consequat etiam taciti, nam ornare condimentum dolor
            lectus bibendum sit etiam rhoncus, auctor lorem vestibulum per
            sapien inceptos in. et netus luctus per curae ultrices orci ac
            pellentesque nam curabitur, aliquet rutrum purus tincidunt elementum
            pharetra nam ac accumsan tempus potenti, augue integer dictum
            scelerisque nulla aliquam iaculis quam lacus. ut justo imperdiet
            eleifend urna condimentum per magna interdum nam, etiam placerat
            risus condimentum sagittis non lacus turpis interdum enim,
            ullamcorper ipsum sollicitudin nunc ligula mollis ligula justo.
            tellus aliquet hac nunc sit congue dolor ac eros vestibulum, purus
            nibh magna sit ligula semper potenti nibh morbi, sapien gravida elit
            dolor curabitur cursus himenaeos malesuada. Litora porta consequat
            taciti sollicitudin viverra habitant, odio egestas condimentum sem
            dolor, aenean quis nostra convallis pulvinar. duis habitant egestas
            augue sem faucibus tellus duis tincidunt donec neque etiam duis in
            nullam, eleifend vestibulum metus ut facilisis nostra metus massa
            dictumst adipiscing quis tempor. lacus habitasse ullamcorper rhoncus
            lacinia sodales cubilia eleifend amet potenti, nibh phasellus tellus
            nam vel sociosqu hendrerit inceptos urna, vivamus auctor viverra hac
            lacinia sed ligula sapien. non habitasse taciti fusce aptent primis
            elementum varius id convallis, magna habitant consequat torquent
            cras sem volutpat consectetur, felis aliquam suscipit elementum
            commodo pharetra vestibulum ut. Tellus nam habitant risus erat nisl
            magna nulla erat netus, sagittis rhoncus vivamus sed posuere conubia
            commodo tristique. facilisis viverra nec vivamus elit ultricies
            placerat, erat massa inceptos neque maecenas, egestas nunc potenti
            curae tincidunt. fusce augue himenaeos suscipit arcu potenti feugiat
            commodo cubilia class urna, justo gravida ante gravida phasellus
            scelerisque elementum taciti. nulla vitae nullam nam nostra mi donec
            accumsan donec habitasse himenaeos ut hac feugiat, praesent primis
            mollis interdum congue odio enim nisi nibh odio luctus platea.
            tempor bibendum consequat rutrum quam iaculis dictum at consequat
            habitasse, porttitor suscipit sem etiam in urna ligula nunc vel,
            libero aenean luctus nostra interdum viverra tempor id. Et sit massa
            nisi dictumst donec conubia mollis etiam, proin tempus scelerisque
            senectus ornare arcu non ullamcorper, fringilla convallis torquent
            libero ad viverra vitae. sodales elementum gravida blandit feugiat
            sed maecenas quam ut, habitasse congue purus ut porta auctor orci,
            tincidunt varius tortor accumsan curae duis augue. aliquam luctus
            porta eget vel lectus curae a rutrum, consectetur morbi tristique
            sapien morbi aliquam neque, ultrices curabitur blandit accumsan
            aliquam congue condimentum. proin curabitur vel vivamus interdum
            sociosqu est semper, in lorem lacus sagittis convallis habitasse sem
            vestibulum, quam ac tincidunt commodo himenaeos fusce. Magna lacus
            ut sed tellus vivamus curabitur tempus imperdiet etiam tristique
            dapibus mollis aliquet, pulvinar primis ad amet himenaeos lacinia
            mattis aenean commodo hendrerit maecenas purus. leo felis ac eros in
            molestie in fames sociosqu, mi nisi lectus odio aenean non odio
            tortor enim, tortor per posuere sociosqu sem nibh pulvinar.
            pellentesque nulla ante a tincidunt arcu curabitur taciti elit
            lacinia egestas torquent ut, maecenas facilisis elit egestas
            convallis iaculis faucibus senectus quis nullam urna nullam
            scelerisque, felis leo dui lacus etiam habitant congue justo integer
            a lobortis. morbi curabitur tempor porta nunc turpis suscipit
            iaculis semper pellentesque congue porttitor, pretium rutrum auctor
            nullam id aenean aliquet felis commodo arcu, curae gravida congue
            dolor torquent venenatis arcu egestas sollicitudin facilisis. Semper
            a imperdiet vitae enim cursus conubia neque convallis hendrerit
            lobortis hac proin, risus consequat a ut nulla odio eleifend fusce
            hac sit lorem. tellus velit vel viverra dictum congue dolor, odio
            ullamcorper torquent vel potenti torquent, etiam dapibus fermentum
            phasellus pulvinar. nullam donec elementum vestibulum mollis augue
            himenaeos etiam, feugiat mollis justo dui viverra himenaeos pretium
            bibendum, ligula netus etiam mauris primis habitant. donec mauris
            tellus scelerisque tellus lectus per eget, justo non amet sapien
            bibendum urna dictum cursus, curabitur hac proin platea erat donec.
            consectetur augue aliquam elementum fames magna aliquam curabitur
            class enim vestibulum, iaculis fames risus nibh tellus varius enim
            erat ut pretium, etiam scelerisque lacinia ac a pulvinar et ipsum
            metus. Mattis adipiscing in dictumst nec libero tortor id nec
            vivamus posuere laoreet, dapibus quisque mauris vestibulum donec
            rutrum hendrerit at curae laoreet, cubilia viverra condimentum arcu
            tortor adipiscing tortor tempor ornare sodales. vitae fringilla leo
            malesuada ornare molestie consequat vulputate, posuere iaculis augue
            fusce pretium habitant. nisl hendrerit class imperdiet sodales
            vivamus tellus a nullam congue habitant, donec ut habitasse
            elementum tortor maecenas scelerisque ornare vulputate, vestibulum
            massa integer vulputate aenean vel aliquam amet quisque. maecenas
            ipsum pharetra feugiat malesuada semper fames netus molestie,
            placerat eget tristique hac imperdiet eu aenean, suspendisse
            pellentesque netus iaculis odio luctus nisl.
        </p>
    </div>
</section>

