@model IEnumerable<BlogJoaoPedroLeagueofLegends.ViewModel.PostsViewModel>
@{
    ViewData["Title"] = "Cantato";
    int cont = 0;
}

<section>
    <div class="tabela">
        <div class="contatoText item">
            <img class="item" src="https://runes.lol/image/generated/championtiles/Yasuo.jpg" alt="Alternate Text" />
            <h2 class="item">Ola eu sou o Joao Pedro Rocha Brito</h2>
            <h3 class="item">O cara que criou isso aqui !!!!</h3>

            <div class="TextoSize">
                <p>
                Lorem ipsum aenean vitae dui nostra mauris est amet phasellus
                sagittis euismod iaculis, curae arcu orci est maecenas turpis
                ultricies dolor cursus condimentum sem vulputate, feugiat lobortis
                sociosqu turpis mi quisque etiam nullam tristique neque sem. auctor
                inceptos torquent faucibus suscipit euismod ut erat massa, eleifend
                quisque faucibus mi viverra integer convallis inceptos turpis,
                sagittis netus gravida curabitur imperdiet semper euismod. facilisis
                phasellus elementum malesuada rutrum faucibus tortor hac est ipsum,
                eu cras accumsan pretium felis nunc cursus fusce hac suscipit,
                inceptos rutrum nisi vel ultrices facilisis taciti convallis. nulla
                adipiscing venenatis fames pretium lacus in platea inceptos sagittis
                orci, pellentesque aptent odio dapibus viverra eros pellentesque
                massa. Facilisis himenaeos scelerisque diam habitant nisi nunc
                scelerisque himenaeos, phasellus luctus risus euismod congue
                bibendum etiam ipsum eget, habitant nostra enim class malesuada
                sodales non. a netus consequat etiam est placerat dui nisi aptent
                molestie, aenean quam amet luctus aenean varius bibendum vivamus
                phasellus, dapibus donec class risus diam nulla fusce eros.
                vulputate sagittis elit sapien convallis habitasse curabitur est,
                fermentum urna lectus congue sem vitae, vestibulum dictumst velit
                lacinia rhoncus commodo. lacinia vivamus aenean taciti quisque
                euismod neque pharetra fames eleifend blandit, donec commodo velit
                fusce ac lectus viverra tincidunt aptent nunc quam, posuere nisl
                morbi lectus netus pharetra eget duis aliquam. Cubilia vehicula
                pharetra lorem auctor habitant ut a aenean lectus, nibh tincidunt in
                turpis cursus euismod accumsan eros feugiat taciti, nisl tristique
                ornare bibendum nisl libero suscipit per. nisl elementum praesent
                urna suscipit mollis tempus molestie aenean commodo dictumst
                habitasse euismod rhoncus, cras tortor tempor dictumst class metus
                massa accumsan quisque nisi laoreet sollicitudin ut, commodo nec
                faucibus justo praesent dui tempus aliquet lobortis vitae placerat
                orci. diam odio senectus accumsan odio a curabitur eu platea,
                aliquam senectus duis velit ornare volutpat curabitur, vitae iaculis
                bibendum nullam taciti sollicitudin dui. Dictumst proin lectus quis
                per viverra consequat etiam taciti, nam ornare condimentum dolor
                lectus bibendum sit etiam rhoncus, auctor lorem vestibulum per
                sapien inceptos in. et netus luctus per curae ultrices orci ac
                pellentesque nam curabitur, aliquet rutrum purus tincidunt elementum
                pharetra nam ac accumsan tempus potenti, augue integer dictum
                scelerisque nulla aliquam iaculis quam lacus. ut justo imperdiet
                eleifend urna condimentum per magna interdum nam, etiam placerat
                risus condimentum sagittis non lacus turpis interdum enim,
                ullamcorper ipsum sollicitudin nunc ligula mollis ligula justo.
                tellus aliquet hac nunc sit congue dolor ac eros vestibulum, purus
                </p>
            </div>
        </div>
        <aside class="listaItemCon item tabela">
            <ul>
                @foreach (var posts in Model)
                {
                    if (cont <= 2)
                    {
                        <li>
                            <aside class="item">
                                <h3>@posts.Categoria.descricao</h3>
                                <img src="@posts.ImgPost" alt="Resultado de imagem para imagem LeagueofLegends" />
                                <h2>@posts.Titulo</h2>
                                <div>
                                    <p>
                                        @posts.PreviaTexto
                                    </p>
                                </div>
                                <a href="/Posts/Post/@posts.PostId">Ler mais.</a>
                            </aside>
                        </li>
                    }
                    cont++;
                }
            </ul>
        </aside>
    </div>
</section>


