
@{
    ViewData["Title"] = "Menu";
}

<section class="maiginEndBoot">
    <h2 class="text-center h2">Menu ADM</h2>

    <div class="text-center">
        <div>
            <a href="/Categoria/Listar" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-list"> Categorias Listar</span></a>
        </div>
        <br />
        <div>
            <a href="/Posts/Listar" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-list"> Posts Listar</span></a>
        </div>
    </div>
</section>

