*{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}

img{
    width:100%;
    height:auto;
}
html, body{
    height: 100%;
}

body {
    padding: 0.6% !important;
    background-image: url(https://i.imgur.com/3N1lElz.jpg);
    background-size:cover;
    background-attachment:fixed;
}
header {
    color: aliceblue;
    padding: 5% 20%;
    text-align: center;
    font-size: 10%;
    text-shadow: black 2em 2em 2em;
}
p {
    word-break: break-all !important;
    text-align: justify;
}
h3{
    padding-left: 5%;
}
nav {
    background-color: aliceblue;
    width: 100%;
    border: 3px solid black;
    border-radius: 4px;
    margin: 5% 0%;
    text-align: center;
    display: table;
}

nav ul {
    float: left;
}

nav li {
    font-size: 20px;
    display: inline-block;
}

nav > ul > li > a {
    display: block;
    text-decoration: none;
    color: #9BBFFF;
    padding: 15px 10px;
    border-bottom: 2px solid transparent;
}

nav>ul>li>a:hover {
    text-decoration: none;
    color: cornflowerblue;
    background-color: #ffffff;
    border-bottom: 2px solid #3498db;
}
.item > a{
    background-color: dodgerblue;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 20px;
    color: aliceblue;
    margin:20px 10px;
}
.item > a:hover{
    background-color: Highlight;
}
.item {
    float: left;
    width: 72%;
}

aside .item {
    padding: 20px;
    width: 30%;
    height: 50%;
    margin: 1% 1%;
    border-radius: 6px;
    border: 2px solid black;
    border-color: darkgray;
}

aside.item.lista {
    width: auto;
    height: auto;
    border: 3px solid black;
}

footer ul {
    float: left
}

footer li {
    display: inline-block;
    border-left: 1px solid #e2e2e2;

}
.textFooter > h3{
    font-size: 1em;
    text-align: left;
    padding-left: 5%;
}
footer {
    width: 100%;
    display: table;
    padding: 0% 30%;
    margin: 5% 0%;
    border: 3px solid black;
    clear: both;
}
ul.listaNo{
    display:grid;
    text-align: left;
}
ul.listaNo li{
    padding-left: 5%;
}
section {
    border: 3px solid black;
    margin: 2px 0px;
}
.postsTexto{
    padding: 5%;
    padding: 10px 30%;
    float: left;
    width: 50%;
    margin: 5px;
    word-break: break-word;
}
.postsCentro{
    margin: 1%;
}
.tabela{
    display:table;
}
section .contatoText {
    padding: 4% 4% 4% 8%;
    word-break: break-word;
}
.item.categoria{
    margin-left: 10%;
}
.maiginEndBoot{
    padding:1%;
}
.logolol{
    float:left;
    width: 20%;
    padding-top: 1%;
}
.contatoText > img {
    border: 2px solid;
    border-radius: 50%;
    width: 15%;
    margin-right: 2%;
    margin-bottom: 2%;
}
.TextoSize > p {
    clear: both;
    font-size: 1.4em;
}
.listaItemCon {
    width: auto;
    float: inherit !important;
    margin-top: 5%;
    margin-bottom: 5%;
}
.listaItemCon ul{
    list-style-type: none;
}
.listaItemCon .item{
    width: 80%;
}

section, aside, nav, footer {
    background-color: aliceblue;
    border-radius: 6px;
    border-color: darkgray;
}

@media screen and (max-width: 1400px) {
    aside .item{
        padding: 10px 20px;
        float: left;
        width: 18%;
        margin: 5px;
        border: 2px solid black;
    }
    aside.item.lista {
        width: auto;
        height: auto;
        border: 3px solid black;
    }
    section.item{
        border: 0px;
    }    
    .item{
        float: none;
        width: auto;
    }
    .postsTexto{
        padding: 5%;
        padding: 10px 20px;
        width: auto;
        margin: 5px;
        word-break: break-word;
    }
    aside.item.lista li{
        display: inline;
    }
    aside.item.lista ul{
        list-style-type: none;
        text-align: center;
    }
    .item.categoria{
        margin-left: 0%;
    }
}
@media screen and (max-width: 800px){
    aside .item{
        float: left;
        padding: 10px 20px;
        width: auto;
        margin: 5px;
        border: 2px solid black;
    }
}
