@model  IEnumerable<BlogJoaoPedroLeagueofLegends.ViewModel.CategoriaViewModel>
@{
    ViewData["Title"] = "Categorias";
    int cont = 0;
}

<nav>
    <ul>
        @foreach (var categoria in Model)
        {
            <li>
                <a href="/Posts/Post/@categoria.CategoriaId">@categoria.Descricao</a>
            </li>
        }
    </ul>
</nav>
<aside>
    @foreach (var posts in ViewBag.PostList)
    {
        if (cont <= 5)
        {
            <aside class="item">
                <img src="@posts.ImgPost" alt="Resultado de imagem para imagem LeagueofLegends" />
                <h2>@posts.Titulo</h2>
                <div>
                    <p>
                        @posts.PreviaTexto
                    </p>
                </div>
                <a href="/Posts/Post/@posts.PostId">Ler mais.</a>
            </aside>
        }
        cont++;
    }
</aside>
